body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    overflow-x: hidden;
}

/* Header */
header {
    background-color: #36BA98;
    padding: 20px 0;
    color: #fff;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .logo h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header .user-cart a {
    color: #fff;
    text-decoration: none;
}

/* Banner */
.banner {
    background: url('https://www.vachmi.com/images/ayurveda.jpg') no-repeat center center/cover;
    color: #262626;
    text-align: center;
    padding: 100px 0;
}

.banner h2 {
    margin: 0;
    font-size: 48px;
}

.banner p {
    font-size: 18px;
}

.banner .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border:2px solid transparent;
}

/* Featured Products */
.featured-products {
    padding: 50px 0;
}

.featured-products .container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 20px;
}

.featured-products h2 {
    text-align: center;
    margin-bottom: 30px;
}

.featured-products .product-grid {
    display: flex;
    justify-content: space-between;
}

.featured-products .product-item {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-left: 20px;
}

.featured-products .product-item img {
    max-width: 100%;
    border-radius: 5px;
}

.featured-products .product-item h3 {
    margin: 15px 0;
}

.featured-products .product-item p {
    font-size: 20px;
    font-weight: bold;
    color: #e74c3c;
}

.featured-products .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #179BAE;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border:2px solid transparent;
}
.btn-2
{
    width: 200px;
}

.btn:hover
{
    background-color: white;
    cursor: pointer;
    border:2px solid #179BAE;
    color:#179BAE
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin-left: 20px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}


.all-products
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    scroll-behavior: smooth;
    padding: 5px;
    width:100vw;
}

.all-products::-webkit-scrollbar{
    background-color: transparent;
}

.product 
{
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin-left:10px;
   padding: 10px;
}

.product h3
{
    width:180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.product img
{
    height: 200px;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}

.product button
{
    padding: 10px;
    border:none;

}


.scroll-btn
{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border:none;
    border-radius: 50%;
    width:38px;
    cursor: pointer;
}

.shopping-cart-overlay
{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.shopping-cart
{
    width: 400px;
    height: 100vh;
    background-color: lavender;
    animation: fadein .3s linear;
}

@keyframes fadein {
    0%
    {
        margin-right:-400px;
    }
    100%
    {
        margin-right:0px;
    }
}

.cart-title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #36BA98;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 10px;
}

#cart_btn
{
    cursor: pointer;
}

.cart-item
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 360px;
}

.cart-item img
{
    height: 100px;
    width: 100px;
    border-radius: 10px 0px 0px 10px;
}

.cart-item-details
{
    background-color: rgb(255, 248, 234);
    height: 100px;
    width: 260px;
    border-radius: 0px 10px 10px 0px;
}

.cart-item-details p
{
    padding: 0px 0px 0px 10px;
}

.all-cart-items
{
    padding: 10px;
}

.count-inc-dec button
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #179BAE;
    color:white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50%;
    border:none;
    height: 40px;
    width: 40px;
    border:2px solid transparent;
}

.count-inc-dec button:hover
{
    background-color: rgb(255, 248, 234);
    color:#179BAE;
    border:2px solid #179BAE
}


.count-inc-dec input
{
    width: 40px;
    border: none;
    outline: none;
    background-color: rgb(255, 248, 234);
    text-align: center;
}

.count-inc-dec
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 248, 234);
    margin-left: 10px;
    width: 120px;


}

.count-btn-rem-btn
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-rem-btn
{
    padding: 10px;
    border-radius: 5px;
    border:2px solid transparent;
    background-color: orangered;
    margin-right: 10px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.cart-item-rem-btn:hover
{
    background-color:rgb(255, 248, 234);
    border:2px solid orangered;
    color:orangered;
}


.name-price
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-price span{
    margin-right: 5px;
    font-weight: bold;
}

.name-price p
{
    width:150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
}

.proceed
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.proceed button
{
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    background-color: #36BA98;
    color:white;
    border:none;
    border-radius: 25px;
    width:300px;
    font-size: 18px;
    cursor: pointer;
}